.section-menu
  border: 1px solid red
  text-align: center
  background: lightblue

  .container
    justify-content: space-around
  
  .full-menu-button
    margin-top: 20px

  p
    font-size: 0.6rem

    