section.about

  .about-img
    background:
      color: pink
      image: url('../img/burger-one.jpg')
      size: cover
      position: right
    height: 400px
    margin-right: 15px

  @media (max-width: 640px)
    padding: 0 0 100px

    .about-img
      margin-right: 0