section.findus-box
  
.findus-map
  height: 400px
  background: lightgrey
  padding: 10px
  margin: 0 -10px

.locations
  font-size: 0.7rem
  display: flex
  margin-bottom: 20px
  justify-content: space-between

  &--address
    margin: 0 5px

.location
  &--city
    margin-bottom: 7px

  &--address
    margin-bottom: 3px