section.menu-section
  .col
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 300px
    text-align: center

  .menu
    display: flex
    justify-content: space-around
    