section.menu-section
  
  .col
    text-align: center

  .menu
    display: flex
    justify-content: space-around

  .full-menu-button
    margin-top: 20px
    text-transform: uppercase
    font-weight: 500

  @media (max-width: 640px)
    .col
      height: auto

    .menu
      flex-direction: column
      align-items: center
      margin: 30px 0
    