.order
  opacity: 0
  
  &--overlay
    position: fixed
    background: rgba(black, 0.8)
    top: 0
    left: 0
    height: 100%
    width: 100%

    


  &--modal
    box-sizing: border-box
    z-index: 2
    background: $bg-color
    padding: 0.8rem
    width: 80%
    max-width: 800px
    height: calc(100% - 40px)
    margin: 20px auto
    overflow: auto

  &--nav
    display: flex
    justify-content: space-between

    p
      color: $primary-color
      font-weight: bold
      font-size: 1.2rem
      margin-bottom: 0.8rem

  &--menu
    display: grid
    grid-template-columns: repeat(3, 1fr)
    justify-items: center
    grid-gap: 0.8rem
    
    @media (max-width: 780px)
      grid-template-columns: repeat(2, 1fr)
    @media (max-width: 500px)
      grid-template-columns: repeat(1, 1fr)

    .menu-item
      background: $bg-white
      padding: 20px
      max-width: 100%
      box-shadow: 1px .5px 5px rgba(black, 0.2)

  &--btn
    margin-top: 0.8rem
    text-align: center
